<div class="game-container">
    <h1>♻️ Clasificación de Basura</h1>

    <div class="instructions">
        <p>¡Bienvenido al juego de clasificación de basura! Arrastra cada elemento de basura al contenedor correcto
            según su tipo. Gana puntos por cada clasificación correcta.
        </p>
    </div>

    <div class="game">
        <button (click)="startGame()">
            {{ isGameActive ? 'Finalizar Juego' : 'Comenzar Juego' }}
        </button>

        <div class="hud score-board">
            <span>Puntaje: {{ score }}</span>
            <span>Tiempo: {{ timeLeft }}</span>
        </div>

        <div class="trash-items">
            <div *ngFor="let item of trashItems" class="trash-item" [@trashAnimation]="item.state"
                [attr.data-type]="item.type" draggable="true" (dragstart)="onDragStart($event, item)">
                {{ item.icon }}
                <div class="trash-name">{{ item.name }}</div>
            </div>
        </div>

        <div class="bins-container">
            <div *ngFor="let bin of bins" class="bin" (dragover)="onDragOver($event)" (drop)="onDrop($event, bin.type)">
                <img [src]="bin.img" [alt]="bin.label" class="bin-img">
                <!-- <div class="bin-label">{{bin.label}}</div> -->
            </div> 
        </div>

    </div>
</div>