/* --- Texto educativo --- */
.educacion-ambiental {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  color: #333;
}

.educacion-ambiental h1 {
  color: #2e7d32;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.educacion-ambiental h2 {
  color: #388e3c;
  margin-top: 2rem;
}

.educacion-ambiental p {
  font-size: 1.1rem;
}

.educacion-ambiental ul {
  list-style-type: "🌿 ";
  padding-left: 1.5rem;
}

.tabla-residuos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.tabla-residuos th, .tabla-residuos td {
  border: 1px solid #c8e6c9;
  padding: 0.8rem;
  text-align: left;
}

.tabla-residuos th {
  background-color: #e8f5e9;
  color: #1b5e20;
}

blockquote {
  font-style: italic;
  color: #616161;
  border-left: 4px solid #a5d6a7;
  padding-left: 1rem;
  margin: 1.5rem 0;
}

.mensaje-final {
  text-align: center;
  font-weight: 600;
  color: #2e7d32;
  margin-top: 2rem;
}

/* --- Juego educativo --- */
.game-container {
  margin-top: 3rem;
  background: #f1f8e9;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.game-container h1 {
  color: #1b5e20;
  margin-bottom: 1rem;
}

.instructions {
  color: #4e4e4e;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

button {
  background-color: #43a047;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background-color: #2e7d32;
}

.hud {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #2e7d32;
  font-weight: bold;
}

.trash-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
  gap: 1rem;
}

.trash-item {
  font-size: 2rem;
  background: white;
  border-radius: 1rem;
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.trash-item:hover {
  transform: scale(1.1);
}

.trash-img{
    width: 180px;
    height: 150px;
    border-radius: 0.8rem;
}

.trash-name {
  font-size: 1.4rem;
  color: #333;
  margin-top: 0.3rem;
}

.bins-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.bin {
  width: 340px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.bin-img {
  width: 210px;
  height: auto;
}
